body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Calibri', Helvetica, sans-serif;
    font-size: 14px
}

body ul {
    list-style: none;
    padding: 0;
    margin: 0
}

body ul li {
    list-style: none;
    display: inline
}

body p {
    color: #aaa;
    font-family: Verdana
}

body .contactme {
    margin-bottom: 50px
}

a {
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

.reddot {
    content: '\00b7';
    color: #f75353;
    font-weight: bold;
    margin: 10px;
    line-height: 3px
}

hr {
    text-align: center;
    width: 50%;
    margin: 75px auto 53px;
    color: #ccc;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0
}

h2 {
    padding-top: 35px;
    margin: 0 0 25px 0;
    font-size: 38px;
    font-weight: lighter;
    color: #777
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box
}

@media (min-width:1200px) {
    .container {
        width: 1170px
    }
}

@media (min-width:992px) {
    .container {
        width: 970px
    }
}

.row {
    margin-right: -15px;
    margin-left: -15px
}

.col-xs-12 {
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px
}

@media (min-width:768px) {

    .col-sm-2,
    .col-sm-3 {
        position: relative;
        min-height: 1px
    }

    .col-sm-3 {
        width: 33.33333333%;
        float: left
    }

    .col-sm-2 {
        width: 50%;
        float: left
    }
}

.container:after,
.container:before,
.row:after,
.row:after {
    display: table;
    clear: both;
    content: " "
}

.hero {
    font-family: 'Calibri', Helvetica, sans-serif;
    color: #777;
    margin-top: 30px;
}

.hero .greeting {
    color: #bbb;
    font-size: 16px;
    display: block;
    margin-top: 88px;
    text-transform: uppercase;
}

.hero .greeting:before,
.hero .greeting:after {
    content: '';
    padding: 0 30px;
    border-top: SOLID 1px #ccc;
    margin: 10px 10px;
    position: relative;
    top: 11px
}

@media (max-width:500px) {

    .hero .greeting:before,
    .hero .greeting:after {
        padding: 0 5px;
    }

    .profile p {
        font-size: 8px !important;
    }
}

.hero h1 {
    font-size: 75px;
    font-weight: 500;
    margin: 4px;
}

@media (max-width:500px) {
    .hero h1 {
        font-size: 25px;
    }
}

.hero h2 {
    font-size: 24px;
    font-weight: lighter;
    margin: 23px 0 0 0;
    padding: 0;
    text-transform: none
}

@media (max-width:500px) {
    .hero h2 {
        font-size: 20px
    }
}

.hero h2 li {
    margin: 0 -3px
}

.hero h2 li:first-child:after {
    content: '\00b7';
    color: #777;
    font-weight: bold;
    margin: 10px;
    line-height: 3px
}

.hero h2 li:last-child:before {
    content: '\00b7';
    color: #777;
    font-weight: bold;
    margin: 10px;
    line-height: 3px
}

.top-menu {
    position: fixed;
    top: -1px;
    width: 100%;
    line-height: 25px;
    font-size: 11px
}

.top-menu ul {
    background: white;
    font-family: 'Open Sans', sans-serif;
    padding: 3px;
    width: 500px;
    text-transform: uppercase;
    margin: auto;
    border: SOLID 1px #ccc;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px
}

.top-menu ul li {
    margin: 0 9px
}

.top-menu ul li a {
    color: #999
}

@media (max-width:500px) {
    .top-menu {
        display: none;
    }
}

.profile .pic {
    height: 256px;
    width: 256px;
    border-radius: 50%;
    border: SOLID 3px #777;
    margin: 35px auto 0;
    overflow: hidden;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(-27deg);
}

.profile .pic img {
    height: 256px;
    border-radius: 50%
}

.profile p {
    line-height: 25px;
    font-size: 14px;
    margin: 20px 0 0 0;
}

.social {
    margin: 35px 0 0 0
}

.social li {
    padding: 5px 8px;
    margin: 0 3px;
    display: inline-block
}

.social li a {
    text-decoration: none;
    color: #fff;
    color: red;
    color: #777;
    font-size: 28px;
}

/* .social li.github {
    background: #777;
}

.social li.x {
    background: #777;
}

.social li.message {
    background: #777;
}

.social li.red {
    background: #f75353
} */

.projects .container {
    margin-top: 45px
}

.projects .project-card {
    display: block;
    margin: 15px;
    padding: 15px;
    min-height: 150px;
    border: 1px solid #ddd;
    background: #f9f9f9;
    border-radius: 3px;
    box-shadow: 0 0 2px #ddd, inset 0 1px 2px #fff
}

.projects .project-card h3 {
    color: #777
}

.projects .project-card p {
    font-size: 14px
}

.projects .project-card:hover {
    text-decoration: none
}

.error-sign {
    border-radius: 5px;
    border: SOLID 2px #333;
    width: 100px;
    margin: 0 auto 50px;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    height: 100px;
    background-color: YELLOW;
    box-shadow: 0 0 5px YELLOW
}

.error-sign h2 {
    color: #333;
    -webkit-transform: rotateZ(-45deg) translate(-6px, -10px);
    transform: rotateZ(-45deg) translate(-6px, -10px)
}